In [ ]:
#merge and concatenate

In [1]:
import pandas as pd

In [6]:
df1=pd.DataFrame({'HPI':[80,70,60,50],'Int_rates':[2,3,2,2],'US_GDP_Thousand':[55,65,75,85]},index=[2001,2002,2003,2004])
df1

      HPI  Int_rates  US_GDP_Thousand
2001   80          2               55
2002   70          3               65
2003   60          2               75
2004   50          2               85

In [13]:
df2=pd.DataFrame({'HPI':[80,70,60,40],'Unemployment':[7,8,4,2],'Low_tier_HPI':[50,52,35,55]},index=[2003,2004,2005,2006])
df2

      HPI  Low_tier_HPI  Unemployment
2003   80            50             7
2004   70            52             8
2005   60            35             4
2006   40            55             2

In [10]:
pd.concat([df1,df2],axis=1)

       HPI  Int_rates  US_GDP_Thousand   HPI  Low_tier_HPI  Unemployment
2001  80.0        2.0             55.0   NaN           NaN           NaN
2002  70.0        3.0             65.0   NaN           NaN           NaN
2003  60.0        2.0             75.0  80.0          50.0           7.0
2004  50.0        2.0             85.0  70.0          52.0           8.0
2005   NaN        NaN              NaN  60.0          35.0           4.0
2006   NaN        NaN              NaN  50.0          55.0           2.0

In [14]:
pd.merge(df1,df2,on='HPI',how='inner')
# inner join results all rows common based on HPI value

   HPI  Int_rates  US_GDP_Thousand  Low_tier_HPI  Unemployment
0   80          2               55            50             7
1   70          3               65            52             8
2   60          2               75            35             4

In [15]:
#outer join gives union of all the possible records
pd.merge(df1,df2,on='HPI',how='outer')

   HPI  Int_rates  US_GDP_Thousand  Low_tier_HPI  Unemployment
0   80        2.0             55.0          50.0           7.0
1   70        3.0             65.0          52.0           8.0
2   60        2.0             75.0          35.0           4.0
3   50        2.0             85.0           NaN           NaN
4   40        NaN              NaN          55.0           2.0

In [ ]:
#left, gives all records from DF1 and matching records from DF2
#right gives all records from DF2 and matching records from DF1